input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

body {
    background-color: #191414;
    color: white;
    font-family: "Liberation Sans", sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

body > * {
    flex-shrink: 0;
}

h1 {
    font-size: 4rem;
    margin: 0 0 40px;
    text-shadow: 0 2px 10px rgba(31, 25, 25, 0.5);
}

.current_container, .search_container {
    margin-bottom: 50px;
}

.current_container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1DB954;
    padding: 50px 0;
    z-index: 2;
}

.current_container > * {
    flex-shrink: 0;
}

.current_container img {
    max-height: 350px;
    max-width: 250px;
    box-shadow: 0 0 15px 5px rgba(31, 25, 25, 0.5);
}

.current_text_container {
    max-width: calc(100% - 400px);
    padding: 30px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    font-size: 3rem;
    color: lightgray;
    text-overflow: ellipsis;
    overflow: hidden;
}

.current_text_container > * {
    flex-shrink: 0;
}

.current_text_container p {
    cursor: default;
    margin: 20px 0;
    text-shadow: 0 2px 10px rgba(31, 25, 25, 0.5);
}

.current_text_container p:last-child {
    font-size: .8em;
}

.current_container a {
    text-decoration: none;
    background-color: lightgray;
    border-radius: 5px;
    color: #1DB954;
    padding: 10px;
    margin-left: 10px;
    font-size: 1.4rem;
    box-shadow: 0 0 5px 1px rgba(31, 25, 25, 0.3);
    transition: box-shadow ease-in-out .1s;
}

.current_container a:hover {
    box-shadow: 0 0 10px 5px rgba(31, 25, 25, 0.3)
}

.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    background-color: #1F1919;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.search_box {
    padding: 10px 20px;
    margin: 0 40px 0 40px;
    width: 580px;
    font-size: 3rem;
    background: transparent;
    border: none;
    color: lightgray;
}

.search_box:focus, .search_box:focus-visible {
    border: none;
    outline: none;
}

.search_container svg {
    position: absolute;
    right: 20px;
    top: calc(50% - 20px);
    height: 40px;
    fill: lightgray;
}

.result_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    padding: 10px 20px;
    overflow: auto;
    overflow-x: hidden;
    max-height: max-content;
}

.result {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #1F1919;
    border: none;
    width: 700px;
    padding: 20px 40px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: lightgray;
    font-size: 1.5rem;
    text-shadow: 0 2px 10px rgba(31, 25, 25, 0.5);
}

.result > * {
    flex-shrink: 0;
}

.result:hover {
    background-color: #1DB954;
    transition: background-color .2s ease-in-out;
}

.result img {
    max-height: 200px;
    max-width: 140px;
    box-shadow: 0 0 15px 5px rgba(31, 25, 25, 0.5)
}

.result_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 20px 20px 80px;
}

.result_text_container > * {
    flex-shrink: 0;
}

.result_text_container span {
    margin: 10px;
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.result_text_container span:last-child {
    font-size: .7em;
}

.alt_result:hover {
    cursor: default;
    background-color: #1F1919;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: .8rem;
}

.footer > * {
    flex-shrink: 0;
}

.footer a, .footer button {
    margin: 20px;
    cursor: pointer;
    color: lightgray;
    text-decoration: none;
    border: none;
    background: transparent;
}

.footer a:hover, .footer button:hover {
    text-decoration: underline;
}

.footer p {
    color: lightgray;
    margin: 20px;
}

.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.login_container > * {
    flex-shrink: 0;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1DB954;
    width: 600px;
    padding: 50px;
    border-radius: 40px;
    font-size: 1rem;
}

.login_form > * {
    flex-shrink: 0;
}

.login_form input {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

.login_form label {
    margin: 20px;
    font-size: 1.2rem;
    color: white;
}

.login_form button {
    margin: 5px;
    padding: 10px 50px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.login_form button:hover {
    background-color: lightgray;
}