<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
{% block content %}{% endblock %}
<footer class="footer">
    {% if not current_user.is_authenticated %}
        <p>anonym</p>
        <a href="{{ url_for('login') }}">Veranstalter? Hier anmelden</a>
    {% else %}
        <a href="{{ url_for('user_view') }}">{{ current_user.username }}</a>
        <form method="post" action="{{ url_for('logout') }}">
            <button type="submit">Abmelden</button>
        </form>
    {% endif %}
</footer>
</body>
</html>