{% extends "base.html" %}

{% block content %}

    <header class="current_container">
        <div class="current_text_container">
            <p>Trete einer Party bei, um die Musik zu steuern</p>
        </div>
    </header>
    <div class="search_container">
        <form method="get">
            <label>
                <input placeholder="Party Schlüssel" class="search_box" style="font-size: 4em; padding: 20px 30px" name="party_key" type="text"
                       onfocus="this.select()" autocomplete="off" required>
            </label>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="result alt_result">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}

<!-- info artist song name