{% extends "base.html" %}

{% block content %}

    <main class="login_container">
        <form class="login_form" method="post">
            <h1>Login</h1>

            {{ form.hidden_tag() }}

            {{ form.username(size=32, placeholder="Username*") }}
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}

            {{ form.password(size=32, placeholder="Password*") }}
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <span style="color: red;">{{ message }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <label>
                Remember Me:
                {{ form.remember_me() }}
                <button type="submit">Login</button>
            </label>

        </form>
    </main>

{% endblock %}