{% extends "base.html" %}

{% block content %}

    <header class="current_container">
        <img src="{{ current_track['coverart'] }}" alt="Cover">
        <div class="current_text_container">
            <p>{{ current_track['name'] }}</p>
            <p>{{ current_track['artist'] }}</p>
        </div>
    </header>
    {% if not added %}
        <div class="search_container">
            <form method="get" action="{{ url_for('party_view', party_key=party['party_key']) }}">
                <label>
                    <input placeholder="Suche..." class="search_box" name="search" type="search" value="{{ search }}"
                           onfocus="this.select()" autocomplete="off" required>
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                    </svg>
                </label>
            </form>
        </div>
    {% endif %}
    {% if results is defined %}
        <div class="result_container">
            {% if results|length %}
                {% for track in results %}
                    <form method="post" action="{{ url_for('party_view', party_key=party['party_key']) }}">
                        <button class="result" type="submit">
                            <img src="{{ track['coverart'] }}" alt="{{ track['name'] }}">
                            <span class="result_text_container">
                        <span>{{ track['name'] }}</span>
                        <span>{{ track['artist'] }}</span>
                    </span>
                            <input type="hidden" value="{{ track['id'] }}" name="id">
                        </button>
                    </form>
                {% endfor %}
            {% else %}
                <div class="result alt_result">
                    Keine Ergebnisse
                </div>
            {% endif %}
        </div>
    {% elif added %}
        <div class="result alt_result">
            Song zur Warteschlange hinzugefügt
        </div>
    {% else %}
        <div class="result alt_result">
            Suche einen Song, um ihn in die Warteschlange zu geben
        </div>
    {% endif %}

{% endblock %}

<!-- info artist song name