{% extends 'base.html' %}

{% block content %}

    <div class="current_container">
        {% if auth_uri %}
            <div class="current_text_container">
                <p>Mit diesem Benutzer wurde noch kein Spotify Konto verbunden</p>
            </div>
            <a href="{{ auth_uri }}">Verbinden</a>
        {% elif current_track %}
            <img src="{{ current_track['coverart'] }}" alt="Cover">
            <div class="current_text_container">
                <p>{{ current_track['name'] }}</p>
                <p>{{ current_track['artist'] }}</p>
            </div>
        {% else %}
            <div class="current_text_container">
                <p>Auf dem verbundenen Spotify Konto findet derzeit keine Wiedergabe statt</p>
            </div>
        {% endif %}
    </div>

    {% if parties %}
        <div class="result_container">
        <h1>Eigene Partys</h1>
            {% for party in parties %}
                <a href="/party/{{ party['party_key'] }}">
                    <div class="result">
                        <p>{{ party['party_key'] }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}